header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 10px;
}

.timer {
  margin-top: 10px;
  margin-right: 10%;
}

.view-scores {
  margin-top: 10px;
  margin-left: 10%;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  justify-content: center;
  margin-bottom: 15px;
}

.instructions {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}

h2 {
  justify-content: center;
  margin-bottom: 15px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.high-scores-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.initials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.high-scores {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
